* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Poppins', sans-serif;
}
.header-port {
    background: #ffffff;
    padding: 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .3);
}
.header-port img {
    width: 200px;
}
.header-port i {
    color: black;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

.header-port nav {
    display: flex;
    gap: 8px;
}
.links {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1.1rem;
    cursor: pointer;
}
.links:hover {
    color: #405fa0;
}
.home {
    padding: 120px 50px 50px;
    display: flex;
    gap: 5vw;
    background-color: #eee;
}
.home-1 {
    width: 50vw;
    padding: 2rem 0;
}
.home-1 h1 {
    color: #405fa0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.home-1 h3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: gray;
}
.home-1 p {
    margin-bottom: 2rem;
}
.home a {
    background: linear-gradient(180deg, #2181bb, #162165);
    color: white;
    text-decoration: none;
    padding: 11px 14px;
    border-radius: 1.5rem;
}
.home a:hover {
    opacity: 0.9;
}
.tech {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.home-1 img {
    height: 3rem;
}
.home-2 img {
    width: 300px;
    border-radius: 2rem;
    transition: 400ms;
}
.home-2 img:hover {
    transform: scale(1.05);
}
.about {
    background-color: #3f4652;
    color: #fff;
    padding: 2rem 3rem;
}
.about h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.8rem;
}
.ab-align {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.8rem;
}
.ab-align p {
    max-width: 430px;
}
.about .tech {
    background-color: #fff;
    border-radius: 1rem;
    width: 350px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 1rem;
    justify-items: center;
}
.about .tech img {
    height: 3rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    flex-wrap: wrap;
    gap: 15px;
}
.el-projects {
    background-color: #333;
    padding: 1.3rem;
}
.content {
    background-color: white;
    padding: 5%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition: 400ms;
}
.content:hover {
    transform: scale(1.05);
}
.content h2 {
    padding-bottom: 15px;
}
.content img {
    width: 100%;
    border: 1px solid #eee;
}

.content a {
    color: black;
}

.content p {
    margin-top: 15px;
}

.el-projects > h2 {
    color: #ddd;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.container h2 {
    font-weight: 600;
    font-size: 1.4rem;
}
@media(max-width: 900px) {
    .ab-align {
        justify-content: center;
    }
    .ab-align p {
        max-width: none;
    }
}
@media(max-width: 750px) {
    
    .home {
        flex-direction: column;
        align-items: center;
        gap: 2.6rem;
    }
    .home-1 {
        width: 80vw;
        padding: 0;
    }
}
@media(max-width: 450px) {
    .header-port {
        height: 65px;
    }
    .header-port nav {
        display: block;
        position: fixed;
        top: 65px;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 15px 0;
        overflow: hidden;
        transition: width 250ms;
    }
    .header-port nav.nav-width {
        width: 170px;
    }
    .links {
        display: block;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
        font-weight: 500;
    }
    .header-port i {
        display: block;
    }
    .home {
        padding: 100px 13px 20px;
    }
    .home-1 h3 {
        font-size: 1.2rem;
    }
    .about {
        padding: 1.3rem;
    }
    .about .tech {
        width: 80vw;
    }
    .content:hover {
        transform: none;
    }
}

@media(max-width: 390px) {
    .tech {
        justify-content: center;
    }
    .home-1 img {
        height: 2.3rem;
    }
    .home-2 {
        width: 80vw;
    }
    .home-2 img {
        width: 100%;
    }
}